In [70]:
import pandas as pd

dataSetA = pd.read_csv('GP/world.csv')
dataSetB = pd.read_csv('GP/vacs.csv')
dataSetC = pd.read_csv('GP/earthquake_1995-2023.csv')

# selected_columns = df.loc[:, ['Column1', 'Column2', 'Column3']]

dataSetCfiltered = dataSetC.loc[:, ['magnitude', 'date_time', 'country']]
dataSetCfiltered_by_country = dataSetCfiltered.groupby(['country'])['magnitude'].max()
dataSetA.columns = dataSetA.columns.str.upper()
dataSetB.columns = dataSetB.columns.str.upper()

# Merge the DataFrames based on the 'Country' column

merged_data = pd.merge(dataSetA, dataSetB, on='COUNTRY')
merged_data2 = pd.merge(dataSetCfiltered, dataSetCfiltered_by_country, on='country')
merged_data3 = merged_data2.drop_duplicates(subset = ['country'])
dataSetCfiltered_by_country.head()
merged_data4 = merged_data3.drop('magnitude_x', axis=1)
merged_data4.columns = merged_data4.columns.str.upper()

merge_data5 = pd.merge(dataSetA, merged_data4, on='COUNTRY')
merge_data5.head()

,COUNTRY,DENSITY\n(P/KM2),ABBREVIATION,AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CALLING CODE,CAPITAL/MAJOR CITY,CO2-EMISSIONS,...,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,LATITUDE,LONGITUDE,DATE_TIME,MAGNITUDE_Y
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953,21-03-2023 16:47,7.5
1,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626,21-05-2003 18:44,6.8
2,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",...,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",-38.416097,-63.616672,17-07-2023 03:05,7.2
3,Azerbaijan,123,AZ,57.70%,"86,600","82,000",14.00,994.0,Baku,"37,620",...,"10,023,318",66.50%,13.00%,40.70%,5.51%,"5,616,165",40.143105,47.576927,25-11-2000 18:10,6.8
4,Bolivia,11,BO,34.80%,"1,098,581","71,000",21.75,591.0,Sucre,"21,606",...,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",-16.290154,-63.588653,02-04-2018 13:40,6.8

In [96]:
m5_filtered = merge_data5.drop(['LONGITUDE', 'LATITUDE', 'CURRENCY-CODE','ABBREVIATION', 'LARGEST CITY','CALLING CODE','CAPITAL/MAJOR CITY','GROSS TERTIARY EDUCATION ENROLLMENT (%)'], axis = 1)

In [100]:
m5_filtered = m5_filtered.dropna()
m5_filtered.head()

,COUNTRY,DENSITY\n(P/KM2),AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CO2-EMISSIONS,CPI,CPI CHANGE (%),FERTILITY RATE,...,OUT OF POCKET HEALTH EXPENDITURE,PHYSICIANS PER THOUSAND,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,DATE_TIME,MAGNITUDE_Y
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,"8,672",149.9,2.30%,4.47,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",21-03-2023 16:47,7.5
1,Algeria,18,17.40%,"2,381,741","317,000",24.28,"150,006",151.36,2.00%,3.02,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",21-05-2003 18:44,6.8
2,Argentina,17,54.30%,"2,780,400","105,000",17.02,"201,348",232.75,53.50%,2.26,...,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",17-07-2023 03:05,7.2
3,Azerbaijan,123,57.70%,"86,600","82,000",14.00,"37,620",156.32,2.60%,1.73,...,78.60%,3.45,"10,023,318",66.50%,13.00%,40.70%,5.51%,"5,616,165",25-11-2000 18:10,6.8
4,Bolivia,11,34.80%,"1,098,581","71,000",21.75,"21,606",148.32,1.80%,2.73,...,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",02-04-2018 13:40,6.8