In [34]:
import pandas as pd

dataSetA = pd.read_csv('world.csv')
dataSetB = pd.read_csv('vacs.csv')
dataSetC = pd.read_csv('earthquake_1995-2023.csv')

# selected_columns = df.loc[:, ['Column1', 'Column2', 'Column3']]

dataSetCfiltered = dataSetC.loc[:, ['magnitude', 'date_time', 'country']]
dataSetCfiltered_by_country = dataSetCfiltered.groupby(['country'])['magnitude'].max()
dataSetA.columns = dataSetA.columns.str.upper()
dataSetB.columns = dataSetB.columns.str.upper()

# Merge the DataFrames based on the 'Country' column

merged_data = pd.merge(dataSetA, dataSetB, on='COUNTRY')
merged_data2 = pd.merge(dataSetCfiltered, dataSetCfiltered_by_country, on='country')
merged_data3 = merged_data2.drop_duplicates(subset = ['country'])
dataSetCfiltered_by_country.head()
merged_data4 = merged_data3.drop('magnitude_x', axis=1)
merged_data4.columns = merged_data4.columns.str.upper()

merge_data5 = pd.merge(dataSetA, merged_data4, on='COUNTRY')
merge_data5.head()

,COUNTRY,DENSITY\n(P/KM2),ABBREVIATION,AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CALLING CODE,CAPITAL/MAJOR CITY,CO2-EMISSIONS,CPI,CPI CHANGE (%),CURRENCY-CODE,FERTILITY RATE,FORESTED AREA (%),GASOLINE PRICE,GDP,GROSS PRIMARY EDUCATION ENROLLMENT (%),GROSS TERTIARY EDUCATION ENROLLMENT (%),INFANT MORTALITY,LARGEST CITY,LIFE EXPECTANCY,MATERNAL MORTALITY RATIO,MINIMUM WAGE,OFFICIAL LANGUAGE,OUT OF POCKET HEALTH EXPENDITURE,PHYSICIANS PER THOUSAND,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,LATITUDE,LONGITUDE,DATE_TIME,MAGNITUDE_Y
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953,21-03-2023 16:47,7.5
1,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626,21-05-2003 18:44,6.8
2,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",232.75,53.50%,ARS,2.26,9.80%,$1.10,"$449,663,446,954",109.70%,90.00%,8.8,Buenos Aires,76.5,39.0,$3.35,Spanish,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",-38.416097,-63.616672,17-07-2023 03:05,7.2
3,Azerbaijan,123,AZ,57.70%,"86,600","82,000",14.00,994.0,Baku,"37,620",156.32,2.60%,AZN,1.73,14.10%,$0.56,"$39,207,000,000",99.70%,27.70%,19.2,Baku,72.9,26.0,$0.47,Azerbaijani language,78.60%,3.45,"10,023,318",66.50%,13.00%,40.70%,5.51%,"5,616,165",40.143105,47.576927,25-11-2000 18:10,6.8
4,Bolivia,11,BO,34.80%,"1,098,581","71,000",21.75,591.0,Sucre,"21,606",148.32,1.80%,BOB,2.73,50.30%,$0.71,"$40,895,322,865",98.20%,NaN,21.8,Santa Cruz de la Sierra,71.2,155.0,$1.36,Spanish,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",-16.290154,-63.588653,02-04-2018 13:40,6.8

In [35]:
m5_filtered = merge_data5.drop(['LONGITUDE', 'LATITUDE','ABBREVIATION', 'LARGEST CITY','CALLING CODE','GROSS TERTIARY EDUCATION ENROLLMENT (%)'], axis = 1)

In [36]:
m5_filtered = m5_filtered.dropna()
m5_filtered.head()

,COUNTRY,DENSITY\n(P/KM2),AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CAPITAL/MAJOR CITY,CO2-EMISSIONS,CPI,CPI CHANGE (%),CURRENCY-CODE,FERTILITY RATE,FORESTED AREA (%),GASOLINE PRICE,GDP,GROSS PRIMARY EDUCATION ENROLLMENT (%),INFANT MORTALITY,LIFE EXPECTANCY,MATERNAL MORTALITY RATIO,MINIMUM WAGE,OFFICIAL LANGUAGE,OUT OF POCKET HEALTH EXPENDITURE,PHYSICIANS PER THOUSAND,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,DATE_TIME,MAGNITUDE_Y
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",21-03-2023 16:47,7.5
1,Algeria,18,17.40%,"2,381,741","317,000",24.28,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",21-05-2003 18:44,6.8
2,Argentina,17,54.30%,"2,780,400","105,000",17.02,Buenos Aires,"201,348",232.75,53.50%,ARS,2.26,9.80%,$1.10,"$449,663,446,954",109.70%,8.8,76.5,39.0,$3.35,Spanish,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",17-07-2023 03:05,7.2
3,Azerbaijan,123,57.70%,"86,600","82,000",14.00,Baku,"37,620",156.32,2.60%,AZN,1.73,14.10%,$0.56,"$39,207,000,000",99.70%,19.2,72.9,26.0,$0.47,Azerbaijani language,78.60%,3.45,"10,023,318",66.50%,13.00%,40.70%,5.51%,"5,616,165",25-11-2000 18:10,6.8
4,Bolivia,11,34.80%,"1,098,581","71,000",21.75,Sucre,"21,606",148.32,1.80%,BOB,2.73,50.30%,$0.71,"$40,895,322,865",98.20%,21.8,71.2,155.0,$1.36,Spanish,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",02-04-2018 13:40,6.8

In [37]:
pd.set_option('display.max_columns', None)
m5_filtered.head()

,COUNTRY,DENSITY\n(P/KM2),AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CAPITAL/MAJOR CITY,CO2-EMISSIONS,CPI,CPI CHANGE (%),CURRENCY-CODE,FERTILITY RATE,FORESTED AREA (%),GASOLINE PRICE,GDP,GROSS PRIMARY EDUCATION ENROLLMENT (%),INFANT MORTALITY,LIFE EXPECTANCY,MATERNAL MORTALITY RATIO,MINIMUM WAGE,OFFICIAL LANGUAGE,OUT OF POCKET HEALTH EXPENDITURE,PHYSICIANS PER THOUSAND,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,DATE_TIME,MAGNITUDE_Y
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",21-03-2023 16:47,7.5
1,Algeria,18,17.40%,"2,381,741","317,000",24.28,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",21-05-2003 18:44,6.8
2,Argentina,17,54.30%,"2,780,400","105,000",17.02,Buenos Aires,"201,348",232.75,53.50%,ARS,2.26,9.80%,$1.10,"$449,663,446,954",109.70%,8.8,76.5,39.0,$3.35,Spanish,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",17-07-2023 03:05,7.2
3,Azerbaijan,123,57.70%,"86,600","82,000",14.00,Baku,"37,620",156.32,2.60%,AZN,1.73,14.10%,$0.56,"$39,207,000,000",99.70%,19.2,72.9,26.0,$0.47,Azerbaijani language,78.60%,3.45,"10,023,318",66.50%,13.00%,40.70%,5.51%,"5,616,165",25-11-2000 18:10,6.8
4,Bolivia,11,34.80%,"1,098,581","71,000",21.75,Sucre,"21,606",148.32,1.80%,BOB,2.73,50.30%,$0.71,"$40,895,322,865",98.20%,21.8,71.2,155.0,$1.36,Spanish,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",02-04-2018 13:40,6.8

In [38]:
m5_filtered.size

1054

In [39]:
data = m5_filtered

In [40]:
whr = pd.read_csv("WHR2023.csv")
whr.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [41]:
labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
levels = [1,2,3,4,5]
whr['Level Of Corruption'] = pd.cut(whr['Perceptions of corruption'], bins=5, labels = labels)
whr['Level Of Social Support in Society'] = pd.cut(whr['Social support'], bins=5, labels = labels)
whr['Generosity'] = pd.cut(whr['Generosity'], bins=5, labels = levels)
whr['Freedom to make life choices'] = pd.cut(whr['Freedom to make life choices'], bins=5, labels = levels)
whr['Ladder score'] = pd.cut(whr['Ladder score'], bins=5, labels = levels)

In [42]:
whr['COUNTRY'] = whr['Country name']
whr_filtered = whr[['COUNTRY', 'Generosity','Ladder score', 'Freedom to make life choices', 'Level Of Social Support in Society', 'Level Of Corruption']] 
whr_filtered.head()

,COUNTRY,Generosity,Ladder score,Freedom to make life choices,Level Of Social Support in Society,Level Of Corruption
0,Finland,2,5,5,Very High,Very Low
1,Denmark,3,5,5,Very High,Very Low
2,Iceland,3,5,5,Very High,High
3,Israel,2,5,4,Very High,High
4,Netherlands,3,5,5,Very High,Low

In [43]:

data = pd.merge(data, whr_filtered, on='COUNTRY')

In [44]:
data.head()

,COUNTRY,DENSITY\n(P/KM2),AGRICULTURAL LAND( %),LAND AREA(KM2),ARMED FORCES SIZE,BIRTH RATE,CAPITAL/MAJOR CITY,CO2-EMISSIONS,CPI,CPI CHANGE (%),CURRENCY-CODE,FERTILITY RATE,FORESTED AREA (%),GASOLINE PRICE,GDP,GROSS PRIMARY EDUCATION ENROLLMENT (%),INFANT MORTALITY,LIFE EXPECTANCY,MATERNAL MORTALITY RATIO,MINIMUM WAGE,OFFICIAL LANGUAGE,OUT OF POCKET HEALTH EXPENDITURE,PHYSICIANS PER THOUSAND,POPULATION,POPULATION: LABOR FORCE PARTICIPATION (%),TAX REVENUE (%),TOTAL TAX RATE,UNEMPLOYMENT RATE,URBAN_POPULATION,DATE_TIME,MAGNITUDE_Y,Generosity,Ladder score,Freedom to make life choices,Level Of Social Support in Society,Level Of Corruption
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",21-03-2023 16:47,7.5,2,1,1,Very Low,Very High
1,Algeria,18,17.40%,"2,381,741","317,000",24.28,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",21-05-2003 18:44,6.8,1,3,2,Very High,High
2,Argentina,17,54.30%,"2,780,400","105,000",17.02,Buenos Aires,"201,348",232.75,53.50%,ARS,2.26,9.80%,$1.10,"$449,663,446,954",109.70%,8.8,76.5,39.0,$3.35,Spanish,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",17-07-2023 03:05,7.2,2,4,4,Very High,Very High
3,Bolivia,11,34.80%,"1,098,581","71,000",21.75,Sucre,"21,606",148.32,1.80%,BOB,2.73,50.30%,$0.71,"$40,895,322,865",98.20%,21.8,71.2,155.0,$1.36,Spanish,25.90%,1.59,"11,513,100",71.80%,17.00%,83.70%,3.50%,"8,033,035",02-04-2018 13:40,6.8,2,4,5,High,Very High
4,Botswana,4,45.60%,"581,730","9,000",24.82,Gaborone,"6,340",149.75,2.80%,BWP,2.87,18.90%,$0.71,"$18,340,510,789",103.20%,30.0,69.3,144.0,$0.29,English,5.30%,0.37,"2,346,179",70.80%,19.50%,25.10%,18.19%,"1,616,550",03-04-2017 17:40,6.5,1,2,4,High,Very High

In [45]:
data['date'] = pd.to_datetime(data['DATE_TIME']).dt.date
data['density'] = data['DENSITY\n(P/KM2)']
data['GDP'] = data['GDP'].str.replace(',', '').str.replace(' ', '').str.replace('$', '').astype(float)
data['CO2-EMISSIONS'] = data['CO2-EMISSIONS'].str.replace(',', '').str.replace(' ', '')
data['FORESTED AREA (%)'] = data['FORESTED AREA (%)'].str.replace('%', '').str.replace(' ', '')
data['POPULATION'] = data['POPULATION'].str.replace(',', '').str.replace(' ', '')
data['TOTAL TAX RATE'] = data['TOTAL TAX RATE'].str.replace('%', '').str.replace(' ', '')
data['UNEMPLOYMENT RATE'] = data['UNEMPLOYMENT RATE'].str.replace('%', '').str.replace(' ', '')
data['MINIMUM WAGE'] = data['MINIMUM WAGE'].str.replace('$', '').astype(float)
data['density'] = pd.to_numeric(data['density'], errors='coerce')
data['FORESTED AREA (%)'] = pd.to_numeric(data['FORESTED AREA (%)'], errors='coerce')
data['PHYSICIANS PER THOUSAND'] = pd.to_numeric(data['PHYSICIANS PER THOUSAND'], errors='coerce')
data['TOTAL TAX RATE'] = pd.to_numeric(data['TOTAL TAX RATE'], errors='coerce')
data['UNEMPLOYMENT RATE'] = pd.to_numeric(data['UNEMPLOYMENT RATE'], errors='coerce')
data['CO2-EMISSIONS'] = pd.to_numeric(data['CO2-EMISSIONS'], errors='coerce')
data['POPULATION'] = pd.to_numeric(data['POPULATION'], errors='coerce')

/var/folders/rd/9nbcv3cs77b4zg8s993nhqrc0000gn/T/ipykernel_52960/1068241553.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date'] = pd.to_datetime(data['DATE_TIME']).dt.date

In [46]:
data = data[['date', 'COUNTRY', 'CAPITAL/MAJOR CITY','CURRENCY-CODE', 'density', 'BIRTH RATE','CO2-EMISSIONS', 'FERTILITY RATE', 'FORESTED AREA (%)', 'GDP', 'INFANT MORTALITY',  'LIFE EXPECTANCY', 'MINIMUM WAGE', 'OFFICIAL LANGUAGE','PHYSICIANS PER THOUSAND', 'POPULATION', 'TOTAL TAX RATE', 'UNEMPLOYMENT RATE', 'Generosity', 'Ladder score','Freedom to make life choices', 'Level Of Social Support in Society', 'Level Of Corruption']]

In [58]:
data.head()

,date,COUNTRY,CAPITAL/MAJOR CITY,CURRENCY-CODE,density,BIRTH RATE,CO2-EMISSIONS,FERTILITY RATE,FORESTED AREA (%),GDP,INFANT MORTALITY,LIFE EXPECTANCY,MINIMUM WAGE,OFFICIAL LANGUAGE,PHYSICIANS PER THOUSAND,POPULATION,TOTAL TAX RATE,UNEMPLOYMENT RATE,Generosity,Ladder score,Freedom to make life choices,Level Of Social Support in Society,Level Of Corruption
0,2023-03-21,Afghanistan,Kabul,AFN,60,32.49,8672,4.47,2.1,1.910135e+10,47.9,64.5,0.43,Pashto,0.28,38041754,71.4,11.12,2,1,1,Very Low,Very High
1,2003-05-21,Algeria,Algiers,DZD,18,24.28,150006,3.02,0.8,1.699882e+11,20.1,76.7,0.95,Arabic,1.72,43053054,66.1,11.70,1,3,2,Very High,High
2,2023-07-17,Argentina,Buenos Aires,ARS,17,17.02,201348,2.26,9.8,4.496634e+11,8.8,76.5,3.35,Spanish,3.96,44938712,106.3,9.79,2,4,4,Very High,Very High
3,2018-04-02,Bolivia,Sucre,BOB,11,21.75,21606,2.73,50.3,4.089532e+10,21.8,71.2,1.36,Spanish,1.59,11513100,83.7,3.50,2,4,5,High,Very High
4,2017-04-03,Botswana,Gaborone,BWP,4,24.82,6340,2.87,18.9,1.834051e+10,30.0,69.3,0.29,English,0.37,2346179,25.1,18.19,1,2,4,High,Very High

In [48]:

print(data.describe())

          density  BIRTH RATE  CO2-EMISSIONS  FERTILITY RATE  \
count   29.000000   29.000000   2.900000e+01       29.000000
mean    86.275862   20.529310   2.796486e+05        2.573103
std    113.278701    7.601478   5.430939e+05        0.956243
min      2.000000    8.100000   5.310000e+03        1.350000
25%     18.000000   14.880000   9.787000e+03        1.810000
50%     46.000000   18.780000   5.741400e+04        2.310000
75%     83.000000   24.560000   2.013480e+05        2.900000
max    464.000000   37.520000   2.407672e+06        4.890000

       FORESTED AREA (%)           GDP  INFANT MORTALITY  LIFE EXPECTANCY  \
count          29.000000  2.900000e+01         29.000000        29.000000
mean           28.979310  4.565437e+11         20.706897        73.068966
std            20.203542  6.801804e+11         14.861358         5.477493
min             0.500000  8.116627e+09          3.600000        60.200000
25%             8.000000  3.064138e+10          8.800000        69.700000
50%            27.800000  2.069288e+11         16.900000        72.700000
75%            49.800000  4.453453e+11         29.900000        76.500000
max            58.900000  2.611000e+12         57.200000        81.900000

       MINIMUM WAGE  PHYSICIANS PER THOUSAND    POPULATION  TOTAL TAX RATE  \
count     29.000000                29.000000  2.900000e+01       29.000000
mean       1.810000                 1.760000  1.016513e+08       47.003448
std        2.657972                 1.358615  2.530203e+08       20.429504
min        0.090000                 0.010000  2.346179e+06       15.700000
25%        0.390000                 0.680000  1.071632e+07       33.900000
50%        0.950000                 1.590000  3.426853e+07       43.100000
75%        1.600000                 2.610000  5.800546e+07       60.600000
max       11.490000                 5.480000  1.366418e+09      106.300000

       UNEMPLOYMENT RATE
count          29.000000
mean            7.056207
std             4.521431
min             1.410000
25%             3.500000
50%             5.930000
75%            11.020000
max            18.190000

In [59]:
data[['CURRENCY-CODE']].value_counts()

CURRENCY-CODE
AFN              1
KGS              1
TJS              1
SAR              1
RUB              1
PKR              1
PHP              1
PEN              1
NZD              1
NPR              1
NIO              1
MZN              1
MNT              1
MMK              1
IRR              1
ARS              1
INR              1
IDR              1
GTQ              1
EUR              1
DZD              1
CRC              1
COP              1
CLP              1
CAD              1
BWP              1
BRL              1
BOB              1
TZS              1
Name: count, dtype: int64

In [49]:
data[['OFFICIAL LANGUAGE']].value_counts()

OFFICIAL LANGUAGE
Spanish              8
English              3
Arabic               2
Persian              2
Portuguese           2
Russian              2
Burmese              1
French               1
Greek                1
Hindi                1
Indonesian           1
Mongolian            1
Nepali               1
Pashto               1
Swahili              1
Urdu                 1
Name: count, dtype: int64

In [50]:
data[['Generosity']].value_counts()

Generosity
2             14
3              8
1              5
5              2
4              0
Name: count, dtype: int64

In [51]:
data[['Ladder score']].value_counts()

Ladder score
4               15
3                8
2                3
5                2
1                1
Name: count, dtype: int64

In [52]:
data[['Freedom to make life choices']].value_counts()

Freedom to make life choices
5                               12
4                               10
2                                3
3                                3
1                                1
Name: count, dtype: int64

In [53]:
data[['Level Of Social Support in Society']].value_counts()

Level Of Social Support in Society
High                                  14
Very High                             10
Moderate                               4
Very Low                               1
Low                                    0
Name: count, dtype: int64

In [54]:
data[['Level Of Corruption']].value_counts()

Level Of Corruption
Very High              16
High                    9
Moderate                2
Very Low                1
Low                     1
Name: count, dtype: int64

In [55]:
sum(data[['COUNTRY']].value_counts())
sum(data[['OFFICIAL LANGUAGE']].value_counts())

29

In [56]:
data['GDP'].min()

8116626794.0

In [60]:
data.to_csv('final_dataset', index=True)